@font-face {
    font-family: Vazir;
    src: url("./assets/Vazir.ttf");
}

* {
    font-family: Vazir;
}


body {
    margin: 0;
}

nav {
    background-color: #0a99cc;

}

ul {
    all: initial;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

li {
    color: #fff;
    cursor: pointer;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    flex-direction: column;
    /*justify-content: right;*/
}




/*@media screen and (max-width: 576px) {*/

/*ul{*/
/*  flex-direction: column;*/
/*}*/
.hover::after {
    content: "";
    border-radius: 5px 0 0 5px;
    height: 40px;
    width: 5px;
    background-color: #fff;
    position: absolute;
    right: 0px;


}

/*}*/

@media screen and (min-width: 576px) {
    li {
        width: 100px;
        justify-content: center;
        padding-right: 0;
    }

    .hover::after {
        width: unset;
        content: "";
        border-radius: 5px 5px 0 0;
        height: 3px;
        left: 28px;
        right: 28px;
        bottom: 0px;
        position: absolute;

    }

    ul {
        flex-direction: row;
    }
}

/*
Add these styles to .hover element with after pseudo-class in mobile mode
border-radius: 5px 0 0 5px;
    height: 40px;
    width: 5px;
    background-color: #fff;


Add these styles to li in desktop mode
width: 100px;
justify-content: center;
padding-right: 0;

Add these styles to .hover element with after pseudo-class in desktop mode
border-radius: 5px 5px 0 0;
height: 3px;
*/

