<div class="container">
  <h1>User Registeration china</h1>
  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label for="firstname">FirstName</label><br>
      <input minlength="3" #name="ngModel" type="text" id="firstname" name="firstname" class="form-control" ngModel="">
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger">invalidssssss</div>
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="firstname">LastName</label><br>
      <input type="text" id="lastname" name="lastname" class="form-control" ngModel="">
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="Email">Email</label><br>
      <input type="email" id="Email" name="email" class="form-control" ngModel="">
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="password">passWord</label><br>
      <input type="password" id="password" name="password" class="form-control" ngModel="">
    </div>
    <pre></pre>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
